<div class="container mt-4">
  <h1 class="fw-bold">
    <i class="fa-solid fa-building" style="color:#7360f2;"></i>
    Espacios comunes de <%= @community.name %>
  </h1>

  <div class="text-end mb-3">
    <%= link_to new_community_common_space_path(@community),
        class: "btn btn-primary rounded-pill" do %>
      <i class="fa-solid fa-plus"></i> Nuevo espacio
    <% end %>
  </div>

  <% if @common_spaces.any? %>
    <div class="row">
      <% @common_spaces.each do |space| %>
        <div class="col-md-4">
          <div class="card shadow-sm mb-4">
            <div class="card-body">
              <%= link_to common_space_path(space), class: "space-icon-circle text-decoration-none" do %>
              
                <% case space.name.downcase %>
                <% when "quincho" %>  
                    <i class="fa-solid fa-utensils"></i>
                    
                <% when "sala multiusos" %>
                    <i class="fa-solid fa-people-group"></i>
                <% when "cancha", "cancha deportiva" %>
                    <i class="fa-solid fa-futbol"></i>  
                <% else %>
                    <i class="fa-solid fa-building"></i>
                <% end %>
              <% end %>

<h5 class="fw-normal text-center mt-2"><%= space.name %></h5>

<!-- Indicador de disponibilidad -->
<div class="d-flex align-items-center justify-content-center mt-2">
    <div
      style="
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: <%= space.is_available ? '#28a745' : '#dc3545' %>;
        margin-right: 8px;
      ">
    </div>

    <span class="fw-semibold <%= space.is_available ? 'text-success' : 'text-danger' %>">
      <%= space.is_available ? 'Disponible' : 'No disponible' %>
    </span>
  </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">No hay espacios comunes creados todavía.</p>
  <% end %>

</div>
