<div class="container">
  <h1><%= @common_space.name %></h1>

  <p><%= @common_space.description %></p>
  <p>Precio: S/ <%= @common_space.price %></p>

  <hr>

  <h3>Horarios Disponibles</h3>

  <% @usable_hours.each do |hour| %>
    <p>
      <strong><%= Date::DAYNAMES[hour.weekday] %>:</strong>
      <%= hour.start.strftime("%H:%M") %> - <%= hour.end.strftime("%H:%M") %>
    </p>
  <% end %>

  <hr>

  <%= link_to "Mis reservas aquí",
      common_space_bookings_path(@common_space, neighbor_id: current_user.neighbor.id),
      class: "btn btn-success mb-3 rounded-pill" %>

  <h3>Reservas</h3>

  <%= link_to "Nueva reserva", new_common_space_booking_path(@common_space), class: "btn btn-success mb-3 rounded-pill" %>

  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <li class="list-group-item d-flex justify-content-between">
        <span>
          <strong><%= booking.neighbor.user.name %></strong><br>
          <%= booking.start.strftime("%d-%m %H:%M") %> → <%= booking.end.strftime("%d-%m %H:%M") %>
        </span> 
      </li>
    <% end %>
  </ul>

  <%= link_to "← Volver a espacios comunes",
              community_common_spaces_path(@common_space.community),
              class: "btn btn-secondary mt-3 mb-3 rounded-pill" %>
</div>