<h1>Editar gasto común</h1>

<%= simple_form_for(@common_expense) do |f| %>
  <%= f.input :date, label: "Fecha", as: :date %>
  <%= f.input :total, label: "Total", as: :integer %>
  <%= f.button :submit, "Actualizar" %>
<% end %>

<%= link_to "Volver", community_common_expenses_path(@community) %>
