<div class="container mt-4">

  <h2 class="fw-bold mb-3">Detalle de la Reserva</h2>

  <div class="card shadow-sm p-3">

    <p><strong>Espacio común:</strong> <%= @booking.common_space.name %></p>

    <p><strong>Reservado por:</strong>
      <%= @booking.resident.user.name if @booking.resident&.user %>
    </p>

    <p><strong>Inicio:</strong>
      <%= @booking.start.strftime("%d/%m/%Y %H:%M") %>
    </p>

    <p><strong>Fin:</strong>
      <%= @booking.end.strftime("%d/%m/%Y %H:%M") %>
    </p>

    <p><strong>Precio:</strong>
      <%= number_to_currency(@booking.common_space.price, unit: "S/ ") %>
    </p>

  </div>

  <div class="mt-4 d-flex gap-2">
    <% if policy(@booking).edit?%>
    <%= link_to "Editar", edit_booking_path(@booking), class: "btn btn-warning rounded-pill" %>
    <%end%>
    <%= link_to "Eliminar",
                booking_path(@booking),
                method: :delete,
                data: { confirm: "¿Seguro que deseas eliminar esta reserva?" },
                class: "btn btn-danger rounded-pill" %>

    <%= link_to "Volver", common_space_bookings_path(@booking.common_space), class: "btn btn-secondary rounded-pill" %>
  </div>

</div>
