<div class="chat-container mt-4">

  <h2 class="mb-3 fw-bold section-title">Crear nuevo Chat</h2>

  <%= form_with model: [@community, @chat], local: true do |f| %>

    <% if @chat.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% @chat.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :name, "Nombre del Chat", class: "form-label" %>
      <%= f.text_field :name, maxlength: 25, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :category, "Categoría", class: "form-label" %>
      <%= f.select :category,
          ['General','Mantenimiento','Eventos','Seguridad','Otros'],
          {},
          class: "form-select" %>
    </div>

    <%= f.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to "Cancelar", community_chats_path(@community), class: "btn btn-secondary ms-2" %>

  <% end %>

</div>
