<h1>Vecinos de <%= @community.name %></h1>
<ul>
  <% @neighbors_accepted.each do |neighbor| %>
    <li>
      <%= neighbor.user.name %> |
      Unidad: <%= neighbor.unit %> |
      Fracci칩n GGCC <%= neighbor.common_expense_fraction %> |
      <%= link_to "Editar", edit_neighbor_path(neighbor) %> |
      <%= link_to "Eliminar",
        neighbor_path(neighbor),
        data: {turbo_method: :delete, turbo_confirm: "Est치s seguro?"},
        class: "btn btn-danger"
      %>
  <% end %>
  <% @neighbors_waiting.each do |neighbor| %>
    <li>
      <%= neighbor.user.name %> |
      Unidad: <%= neighbor.unit %> |
      Fracci칩n GGCC <%= neighbor.common_expense_fraction %> |
      <%= link_to "Aceptar", edit_neighbor_path(neighbor) %> |
      <%= link_to "Eliminar",
        neighbor_path(neighbor),
        data: {turbo_method: :delete, turbo_confirm: "Est치s seguro?"},
        class: "btn btn-danger"
      %>
  <% end %>
</ul>
